.navbar {
    display: flex;
    background-color: #141414;
    align-items: center;
    margin: 0;
    position: fixed;
    min-width: 100%;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 2rem 2rem;
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}
.navbar-links input {
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    padding: 0.5rem;
    outline: none;
    width: 200px;
}

.navbar-links a:hover {
    border-bottom: 1px solid #ffffff;
}