.product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    padding: 50px;
    margin: 0;
}
.product-card{
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.product-image{
    object-fit: cover;
}
.product-name, 
.product-description{
    font-size: 1em;
}
.product-price{
    font-size: 1.5em;
}
